<div class="col-md-3">
    <div class="card product-card">
        <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{category}}</h6>
            <p class="card-text">
                <strong>Rating:</strong> ⭐ {{rating}}<br>
                <strong>Year:</strong> {{year}}<br>
                <strong>Duration:</strong> {{duration}} min<br>
                <strong>Director:</strong> {{director}}<br>
            </p>
            <button class="btn btn-primary buy-now-btn" data-product='{{product}}'>Add to Watched</button>
        </div>
    </div>
</div>